%p 
  Prezado
  = "#{@voucher.lead.name},"

%p Sua compra foi confirmada! 
%p Imprima este email e dirija-se até a unidade escolhida para o agendamento e início das aulas.

%p 
  Código do voucher:  
  = @voucher.code

%p 
  Endereço da unidade:
  %br
    = @voucher.unity.address  
  = @voucher.unity.phone

%p Obrigado por estudar conosco!

%p Wizard - Você Bilíngue