- content_for :title, 'Leads'
= render 'admin/shared/navbar'

.accordion
  .accordion-group
    #accordion2.accordion-heading
      %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion2", "href" => "#collapseOne"}
        Filtros
    #collapseOne.accordion-body.collapse{"class" => ("in" if params.keys.include?('by_period'))}
      .accordion-inner
        = form_tag admin_leads_path, method: 'GET' do |f|
          = select_tag 'by_period[scope]', options_for_select([['Todos', ''], ['Pendentes', 'pending'], ['Prospectados', 'prospected'], ['Matriculados', 'enrolled']], params.try(:[], :by_period).try(:[], :scope))
          .input-append.date{"data-date" => "12-02-2012", "data-date-format" => "dd/mm/yyyy"}
            %input.span2.date-mask{"size" => "16", "type" => "text", "name" => "by_period[started_at]", "placeholder" => "Data inicial", "value" => parse_datetime(params.try(:[], :by_period).try(:[], :started_at))}
            %span.add-on
              %i.icon-calendar
          .input-append.date{"data-date" => "12-02-2012", "data-date-format" => "dd/mm/yyyy"}    
            %input.span2.date-mask{"size" => "16", "type" => "text", "name" => "by_period[ended_at]", "placeholder" => "Data final", "value" => parse_datetime(params.try(:[], :by_period).try(:[], :ended_at))}
            %span.add-on
              %i.icon-calendar
          %button.btn.btn-primary{:type => "submit"} Buscar

%p.btn-group.pull-right
  = link_to 'Pendentes', admin_leads_path({pending: true}.merge(by_period: params[:by_period])), class: ['btn', ('active' if params[:pending])]
  = link_to 'Prospectados', admin_leads_path({prospected: true}.merge(by_period: params[:by_period])), class: ['btn', ('active' if params[:prospected])]
  = link_to 'Matriculados', admin_leads_path({enrolled: true}.merge(by_period: params[:by_period])), class: ['btn', ('active' if params[:enrolled])]
  = link_to 'Todos', admin_leads_path(by_period: params[:by_period]), class: ['btn', ('active' if (!params[:pending] && !params[:prospected] && !params[:enrolled]))]

= page_entries_info @leads, entry_name: ''

= form_tag prospect_admin_leads_path, id: 'bulk_form' do |f|
  %table.table.table-hover
    %thead
      %tr
        %th= check_box_tag false, false, nil, {id: 'toggle-checkboxes'}
        %th Nome
        %th Email
        %th Telefone
        %th Prospectado
        %th Matriculado      
        %th Criado em
    %tbody
    - @leads.each do |lead|
      %tr.success
        %td= check_box_tag 'bulk_ids[]', lead.id
        %td= lead.name
        %td= lead.email
        %td= lead.phone
        %td= I18n.l lead.prospected_at, format: :short if lead.prospected_at?
        %td= I18n.l lead.enrolled_at, format: :short if lead.enrolled_at?
        %td= I18n.l lead.created_at, format: :short if lead.created_at?

= paginate @leads