.container.box
  .content
    .row
      .form
        %h2 Login
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          %fieldset
            .clearfix
              = f.text_field :email, class: 'large', placeholder: 'Login'
            .clearfix
              = f.password_field :password, class: 'large', placeholder: 'Senha'
          = f.hidden_field :domain, value: current_franchise.name
          - if devise_mapping.rememberable?
            %p
              = f.check_box :remember_me
              Lembrar senha
          %button.btn.btn-primary{:type => "submit"} Log in