.unity.result-unity{ id: "unity_"+unity.id.to_s }
  .result-left
    /= submit_tag "Inscrever", class: "subscribe_button btn-search-sign-in", "data-id" => unity.id.to_s
    = link_to "Inscrever", "/inscricao/#{unity.id.to_s}", class: 'subscribe btn btn-large btn-primary'

    %p Inscreva-se agora e ganhe desconto!
  .result-center
    %h2= unity.name
    %span= unity.address
    %h2= formatted_phone(unity)
    = link_to "como chegar »", external_map_url(unity), class: "how-to-get", target: "_blank"
  .result-right
    = link_to (image_tag static_map_url(unity)), external_map_url(unity), target: "_blank"
  .payment_container
