#lead_content
  = semantic_form_for @voucher, validate: true do |f|
    #open-result
      #open-result-top
        %span.text-result-medium Qual o melhor horário para você estudar?
        %fieldset#period
          /- @course_periods.each do |period|
          /  %label.course_period{"data-id" => period.id}
          /    = button_tag period.title, type: "button"
          /    %span= period.description
          /= f.input :course_period, :as => :radio, collection: @course_periods
        / %span.text-result-medium Curso:
        / %fieldset#course
        /   = f.input :course, :as => :radio, collection: @courses
      #open-result-center
        %span.text-result-medium Preencha seus dados:
        %fieldset#your-data
          = semantic_fields_for @lead, validate: true do |l|
            = l.fields_for :address do |a|
              = a.input :zipcode, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
              = a.input :street, input_html: { class: "input-4" }, wrapper_html: { class: "wrapper" }
              = a.input :complement, input_html: { class: "input-4" }, wrapper_html: { class: "wrapper" }
              = a.input :number, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
              = a.input :district, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
              = a.input :city, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
              = a.input :state, :as => :select, :collection => %w[AC AL AP AM BA CE DF ES GO MA MT MS MG PA PB PR PE PI RJ RN RS RO RR SC SP SE TO], input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
            = l.input :phone_code, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
            = l.input :phone, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
            /= l.input :cpf, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }

        %fieldset#your-data-right
          = render partial: "product", collection: @products, locals: { f: f }
          #total
            %span.total-left Total:
            %span.total-right
              = number_to_currency(@voucher.total)
        %span.text-result-medium Forma de Pagamento:
        %fieldset#payment
          %label
            = f.radio_button :payment_method, :boleto, checked: true, class: 'payment_method'
            = image_tag "application/barcode.png"
          %label
            = f.radio_button :payment_method, :cartao_visa, class: ['payment_method', 'credit-card']
            = image_tag "application/visa.png"
          %label
            = f.radio_button :payment_method, :cartao_master, class: ['payment_method', 'credit-card']
            = image_tag "application/master.png"
        %fieldset#credit-card
          %span.text-result-medium Dados do cartão:
          = semantic_fields_for @lead, validate: true do |l|
            = l.input :cpf, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }, validate: true
          = semantic_fields_for CreditCard.new, validate: true do |l|
            = l.input :card_holder_name, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
            = l.input :number, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
            = l.input :cvv, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }            
            = l.input :expiration_date, input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }            
            = l.input :installments, as: :select, collection: options_for_select((1..12).to_a), input_html: { class: "input-1" }, wrapper_html: { class: "wrapper" }
          / %li.wrapper
          /   %label{for: "lead_credit_card_number"} Número:
          /   = text_field_tag "lead[credit_card][number]", "", class: "input-1", validate: true
          / %li.wrapper
          /   %label{for: "lead_credit_card_security_code"} Código de segurança:
          /   = text_field_tag "lead[credit_card][cvv]", "", class: "input-1"
          / %li.wrapper
          /   %label{for: "lead_credit_card_validate"} Expiração:
          /   = text_field_tag "lead[credit_card][expiration_date]", "", class: "input-1"
          / %li.wrapper
          /   %label{for: "lead_credit_card_name"} Nome no cartão:
          /   = text_field_tag "lead[credit_card][card_holder_name]", "", class: "input-1"
          / %li.wrapper
          /   %label{for: "lead_credit_card_installments"} Parcelas:
          /   = select_tag "lead[credit_card][installments]", options_for_select((1..12).to_a), class: "input-1"
        %fieldset#button
          = f.submit "Comprar Curso", class: "btn-purchase"
        #content-footer
          = link_to "« voltar", :back, id: "content-footer-link-back"
          = link_to t('.print_voucher'), voucher_url(@voucher), id: "print-voucher"