#align
  #search
    = image_tag "application/search-icon.png", height: 66, width: 66
    #search-alignment-form
      %span Refine sua busca:
      = form_tag lead_path(@lead), method: "PUT", id: "search-form" do
        = hidden_field_tag "page", "1"
        = hidden_field_tag "lead[latitude]"
        = hidden_field_tag "lead[longitude]"        
        = text_field_tag "lead[address_search]", @lead.address_search, placeholder: "Digite seu endereço, bairro, rua ou cep", class: 'autocomplete'
        = submit_tag "Buscar »", class: "btn-search"
        
  #lead_content
    = semantic_form_for @lead do |f|
      = f.hidden_field :unity_id

      - if @unities.empty?
        #not-found
          %p Not found
      - else
        #unities
          = render partial: "unity", collection: @unities
          = paginate @unities