= render 'admin/shared/devise_notifications'
.container.box{"style" => "width: 500px"}
  .content
    .row
      .form
        %h2 Esqueceu sua senha?
        %p Digite o email (login) para receber um e-mail contendo as instruções para redefinir sua senha.

        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          = f.label :email
          = f.email_field :email

          %p= f.submit "Enviar as instruções", class: 'btn btn-primary'