%section{:role => "navigation"}
  %header
    %a{:href => "index.html", :title => "Back to Homepage"}
    %h1 Lorem ipsum dolor sit amet!
  %section#user-info
    %img{:alt => "Sample User Avatar", :src => "/assets/admin/sample_user.png"}
      %div
        %a= link_to current_user.email, '#'
        %em= current_user.role
        %ul
          %li
            %a.button-link{:href => "#", :rel => "tooltip", :title => "This is my title!"} trocar senha
          %li
            = link_to 'sair', destroy_user_session_path, :method => :delete, :class => 'button-link'
  %nav#main-nav
    %ul
      - if current_user.manager?
        %li
          = link_to 'Leads', admin_leads_path, class: 'dashboard'
          - current_user.franchises.each do |franchise|
            %li.current
              = link_to franchise.name, admin_leads_path(franchise_id: franchise), class: 'dashboard'
              %span{:title => "You have 3 pending leads"} 3
              %ul
                %li
                  = link_to 'Vouchers', admin_vouchers_path
          
      - current_user.unities.each do |unity|
        %li.current
          = link_to unity.name, admin_leads_path(unity_id: unity), class: 'dashboard'
          %span{:title => "You have 3 pending leads"} 3
          %ul
            %li
              = link_to 'Vouchers', '#'
  / %section.sidebar.nested
  /   %h2 Nested Section
  /   %p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Maec enas id augue ac metu aliquam.
  /   %p
  /     Sed pharetra placerat est suscipit sagittis. Phasellus
  /     %a{:href => "#"} aliquam
  /     males uada blandit. Donec adipiscing sem erat.