%p
  = @voucher.lead.name
%p
  = @voucher.lead.email
%p
  = @voucher.lead.phone_code
%p
  = @voucher.lead.phone
%p
  = @voucher.unity.name
%p
  = @voucher.unity.address
%p
  = @voucher.code
%p
  = @voucher.total