- content_for :title, 'Vouchers'
= render 'admin/shared/navbar'

= render 'search'
  
%table.table.table-hover
  %thead
    %tr
      %th= check_box_tag ''
      %th Código
      %th Total
      %th Status
  %tbody
  - @vouchers.each do |voucher|
    %tr{"data-url" => admin_voucher_path(voucher)}
      %td= check_box_tag ''
      %td= voucher.code
      %td= number_to_currency voucher.total
      %td
        %span.label.label-warning= voucher.status

= paginate @vouchers