= render 'navbar'

= render 'search'

%p.btn-group.pull-right
  = link_to 'Aprovados', admin_vouchers_path(merge_search_params({status_eq: 'Aprovado'})), class: ['btn', ('active' if params[:active] and params[:active][:status_eq] == 'Aprovado')]
  = link_to 'Em Análise', admin_vouchers_path(merge_search_params({status_eq: 'Em Análise'})), class: ['btn', ('active' if params[:q] && params[:q].try(:[], :status_eq) == 'Em Análise')]
  = link_to 'Cancelados', admin_vouchers_path(merge_search_params({status_eq: 'Cancelado'})), class: ['btn', ('active' if params[:q] && params[:q].try(:[], :status_eq) == 'Cancelado')]
  = link_to 'Aguardando pagamento', admin_vouchers_path(merge_search_params({status_eq: 'Aguardando Pagamento'})), class: ['btn', ('active' if params[:q] && params[:q].try(:[], :status_eq) == 'Aguardando Pagamento')]
  = link_to 'Todos', admin_vouchers_path({}), class: ['btn', ('active' if not params[:active])]
  / = link_to 'Aprovados', admin_vouchers_path({q: params[:q] ? params[:q].merge({status_eq: 'Aprovado'}) : {status_eq: 'Aprovado'}}), class: ['btn', ('active' if params[:q] && params[:q].try(:[], :status_eq) == 'Aprovado')]
  / = link_to 'Em análise', admin_vouchers_path({q: params[:q] ? params[:q].merge({status_eq: 'Em análise'}) : {status_eq: 'Em análise'}}), class: ['btn', ('active' if params[:q] && params[:q].try(:[], :status_eq) == 'Em análise')]
  / = link_to 'Cancelados', admin_vouchers_path({q: params[:q] ? params[:q].merge({status_eq: 'Cancelado'}) : {status_eq: 'Cancelado'}}), class: ['btn', ('active' if params[:q] && params[:q].try(:[], :status_eq) == 'Cancelado')]
  / = link_to 'Aguardando pagamento', admin_vouchers_path({q: params[:q] ? params[:q].merge({status_eq: 'Aguardando Pagamento'}) : {status_eq: 'Aguardando Pagamento'}}), class: ['btn', ('active' if params[:q] && params[:q].try(:[], :status_eq) == 'Aguardando Pagamento')]
  / = link_to 'Todos', admin_vouchers_path({q: {code_cont: params.try(:[], :q).try(:[], :code_cont)}}), class: ['btn', ('active' if not params.try(:[], :q).try(:[], :code_cont))]

= page_entries_info @vouchers, entry_name: ''

%table.table.table-hover.table-bordered
  %thead
    %tr
      / %th= check_box_tag ''
      %th= sort_link(@search, :lead_name, "Nome")
      %th= sort_link(@search, :voucher_timetable_title, "Horário")      
      %th Código      
      %th= sort_link(@search, :status, "Total")
      %th= sort_link(@search, :status, "Status")
      %th= sort_link(@search, :used_at, "Validado em")      
  %tbody
  - @vouchers.each do |voucher|
    %tr{"data-url" => admin_voucher_path(voucher), class: ("success" if voucher.status == 'Aprovado')}
      / %td= check_box_tag ''
      %td= voucher.lead.name
      %td= voucher.timetable.try(:title)      
      %td= voucher.code
      %td= number_to_currency voucher.total
      %td
        %span{"class" => label_class(voucher.status)}= voucher.status
      -if voucher.used_at?
        %td= I18n.l voucher.used_at, format: :short
      - else
        %td
          = link_to 'Validar', use_admin_voucher_path(voucher), method: 'PUT', class: 'btn btn-success btn-mini'

= paginate @vouchers